<br>
<div class="container">
<br>
<br>
<br>
<div class="contact-form">
    <!-- <img alt="" class="avatar" src="https://i.postimg.cc/zDyt7KCv/a1.jpg"> -->
    <h2>Login</h2>
    <form action="">
        <p><b>Email</b></p><input type="text" [(ngModel)]="email" placeholder="Enter Email"  id="email" >
        <p><b>Password</b></p><input placeholder="Enter Password" type="password" id="password" [(ngModel)]="password"><br><br>
        <div>
            <input type="submit" value="Sign in" (click)="postData()">
        </div>
    </form>
</div>
<br>
<br>
<br>
</div>