<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div id="footer" >
    <div class="container">
        <div class="footer_sub">
            <h2 class="text-justify">About </h2>
            <p class="text-justify">welcome to parking booking<span><a href="#">Read more..</a></span></p>
        </div>
        <div class="footer_sub_2">
                <h2 class="text-justify">Important Links</h2>
                <ul class="text-justify">
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Email us</a></li>
                    <li><a href="#">Google Maps</a></li>
                    <li><a href="#">More Services</a></li>
                    <li><a href="#">Reviews</a></li>
                    <li><a href="#">Rate Us</a></li>
                </ul>
        </div>
        <div class="footer_sub_2">
                      <h2 class="text-justify">Social Links</h2>
                      <ul class="text-justify">
                          <li><i class="fa fa-instagram"></i><a href="#">   Instagram</a></li>
                          <li><i class="fa fa-facebook-square"></i><a href="#"> Facebook </a></li>
                          <li><i class="fa fa-youtube"></i><a href="#"> Youtube  </a></li>
                          <li><i class="fa fa-google"></i><a href="#"> Google   </a></li>
                          <li><i class="fa fa-linkedin"></i><a href="#"> Linkdin  </a></li>
                          <li><i class="fa fa-twitter"></i><a href="#"> Twitter  </a></li>
                      </ul>
        </div>
        <div class="footer_sub_3">
                  <h2>Subscribe Us</h2>
                  <input type="text" name="subs" placeholder="Write your e-mail" class="subs">
                  <input type="submit" name="submit_btn" value="Subscribe" class="sub_btn">
        </div>

    </div>
